<form action="/find" method="get">
  <fieldset>
    <legend>Find</legend>
    <input type="text" name="word">
    <%= submit_tag "Find" %> Теперь можно искать и кусками слов, по полям: company, phone, fax, creator_name, email, type of legal entityes
  </fieldset>
</form>