<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать на сайт licenziyaplus.ru</h1>
    <p>
      Для вас создана станичка Мои заказы, для отслеживания вашего заказа.
    </p>
    <p>
      Ваш логин(электронный адрес): <%= @user.email %>.<br/>
      Ваш пароль: <%= @user.password %>.
    </p>
    <p>
      Для того что бы перейти на страничку Мои заказы, пройдите по этой ссылке: <%= @url %>.
    </p>
    <p>Спасибо что выбрали наш сайт.</p>
    <p>С уважением Дирекция компании Лицензия+.</p>
  </body>
</html>