Добро пожаловать на сайт licenziyaplus.ru</h1>
===============================================

Для вас создана станичка Мои заказы, для отслеживания вашего заказа.

Ваш логин(электронный адрес): <%= @user.email %>.<br/>
Ваш пароль: <%= @user.password %>.

Для того что бы перейти на страничку Мои заказы, пройдите по этой ссылке: <%= @url %>.

Спасибо что выбрали наш сайт.
С уважением Дирекция компании Лицензия+.