// Place all the styles related to the Manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#orderfilter {
  a {
    &#all { background: #0c0; }
    &#new { background: #fc6; }
    &#inwork { background: #afa; }
    &#isdone { background: #4f4; }
    &#canceled { color: white; background: black; }
  }
}

.list {
  tr {
    &#status1 { background: #fc6; } // new
    &#status2 { background: #afa; } // in work
    &#status3 { background: #4f4; } // is done
    &#status4 { color: white; background: black; } // canceled
  }
}
